.drag-sort-container {
  background: yellowgreen;
  padding: 0;
}

.drag-sort-container li {
  list-style: none;
  line-height: 1.5em;
}

.drag-placeholder {
  background: gray;
}

.drag-placeholder:before {
  content: 'Drop here';
  color: rgb(225, 210, 90);
}
